<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Movie Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${recipe}" th:action="@{/recipe/new}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{date}" th:value="${#dates.format(#dates.createNow() , 'dd/MMM/yyyy HH:mm')}"/>
                <input type="hidden" th:field="*{user}"/>
                <input type="hidden" th:field="*{score}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">ADD RECIPE</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Name:</label>
                                    <input type="text" class="form-control" th:field="*{name}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Ingredients needed:</label>
                                    <input type="text" class="form-control" th:field="*{description}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Number of calories:</label>
                                    <input type="number" min = "1", step = "1" class="form-control" th:field="*{calories}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Number of servings:</label>
                                    <input type="number" min = "1", step = "1" class="form-control" th:field="*{serving}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Preparation time:</label>
                                    <input type="number" min = "1", step = "1" class="form-control" th:field="*{preparation_time}"/>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label >Categories:</label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <form:select path="categories" multiple="true" items="${categoriesList}"
                                                 itemLabel="${categoriesList.name}" itemValue="${categoriesList.id}"/>

<!--                                    <th:block th:each="category : ${categories}">-->
<!--                                        <tbody>-->
<!--                                        <td th:text="${category.name}"></td>-->
<!--                                        <td>-->
<!--                                            <div class="form-group">-->
<!--                                                <div class="checkbox">-->
<!--                                                    <input type="checkbox"-->
<!--                                                           th:field="*{categories}" th:value="${category}"/></div>-->
<!--                                            </div>-->

<!--                                        </td>-->
<!--                                        </tbody>-->
<!--                                    </th:block>-->
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Info</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{info.info}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>